.App {
  text-align: center;
  display:  flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("./img/tic-tac-bg.jpg");
  background-size: cover;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
.text{
  color: rgb(255, 255, 255);
}
.row{
  display: flex;
  flex-direction:  row;
}
.column{
  display: flex;
  flex-direction: column;
}
.jc-center{
  justify-content: center;
}
.squer { 
  min-width: 40px;
  min-height: 40px;
  font-size: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bolder;
   padding:30px;
  }
  .squer:hover{
    background-color: rgb(228, 77, 102);
  }
  .b-bottom-right{
    border-right: 15px solid #ffffff;
    border-bottom:  15px solid #ffffff ;
  }
  .b-bottom{
    border-bottom: 15px solid #ffffff ;
  }
  .b-right{
    border-right: 15px solid #ffffff ;
  } 
  .btn{
    margin-top: 20px;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    border: 1px solid #ffffff;
    background-color: rgb(209, 84, 105);
  }
  .btn:hover{
    background-color: rgb(67, 83, 230);
    color: white;
  }
  .popUp{
    position: absolute;
    border-radius: 2rem;
    top: 30%;
    left: 10%;
    background-image: linear-gradient(to right, pink, white);
    z-index: 1;
    word-break: break-all;
    width: fit-content;
    padding: 30px;
    color: #008000;
  }
 .footer {
  bottom: 0;
  position: relative;
  margin-top: 1rem;
  color: #777;
 }
 
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
  font-size: 35px;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
 