.App {
  text-align: center;
  display:  flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("./img/tic-tac-bg.jpg");
  background-size: cover;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
.text{
  color: rgb(255, 255, 255);
}
.row{
  display: flex;
  flex-direction:  row;
}
.column{
  display: flex;
  flex-direction: column;
}
.jc-center{
  justify-content: center;
}
.squer { 
  min-width: 40px;
  min-height: 40px;
  font-size: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bolder;
   padding:30px;
  }
  .squer:hover{
    background-color: rgb(228, 77, 102);
  }
  .b-bottom-right{
    border-right: 15px solid #ffffff;
    border-bottom:  15px solid #ffffff ;
  }
  .b-bottom{
    border-bottom: 15px solid #ffffff ;
  }
  .b-right{
    border-right: 15px solid #ffffff ;
  } 
  .btn{
    margin-top: 20px;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    border: 1px solid #ffffff;
    background-color: rgb(209, 84, 105);
  }
  .btn:hover{
    background-color: rgb(67, 83, 230);
    color: white;
  }
  .popUp{
    position: absolute;
    top: 30%;
    left: 10%;
    background-color: rgb(59, 158, 17);
    z-index: 1;
    width: fit-content;
    padding: 30px;
    color: rgb(255, 255, 255);
  }
 .footer {
  bottom: 0;
  position: relative;
  margin-top: 1rem;
 }
 